<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <style type="text/css">
        .background {
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: 0;
            background-image: url(bg1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        </style>
</head>
<body  class="background">
<h1 align="center">Welcome to Login Page!!!</h1>
<div id="logindiv" align="center">
   <h3> FirstName <input type="text" name="uname" ng-model="uname1"><br><br></h3>
    <h3>Password <input type="text" name="pwd" ng-model="pwd1"><br><br></h3>
    <a href="display.html"><button >Login</button></a>
</div>
</body>
</html>